.body{
	color:black;
	
}
.navbar{
	background-color: lightblue;
	padding: 20px;
	
}

.container_portfolio{
	background-color: #e6e6e6;
	
	
}

.row_resume{
	background-color: #e6e6e6;
	color:  #1a1a1a;
}
	