.body{
	color:black;
	font-family: 'Roboto', sans-serif;
}
.navbar{
	color: red;
	padding: 20px;
	
}

.container_portfolio{
	padding: 30px;
	background-color: #e6e6e6;
	
	
}

.row_resume{
	padding: 20px;
	background-color: #e6e6e6;
	color:  #1a1a1a;
}
.container_about {
	padding: 40px;
	background-color: #e6e6e6;
		
}
.row_discgolf{
	background-color: #e6e6e6;
	padding: 20px;
}
.row_discgolf_artiststatement{
	background-color: #b3b3b3;
	padding: 
}