.body{
	color:black;
	
}
.navbar{
	color: red;
	padding: 20px;
	
}

.container_portfolio{
	padding: 50px;
	background-color: #e6e6e6;
	
	
}

.row_resume{
	padding: 20px;
	background-color: #e6e6e6;
	color:  #1a1a1a;
}
.container_about {
	padding: 40px;
	background-color: #e6e6e6;
	
	
}